<ion-view view-title="Leitor de Remédios">
  <ion-content>
    <div class="list list-inset">
        <div class="item item-divider">
          Busca
        </div>
        <label class="item item-input">
         <input type="number" placeholder="Código de Barras"  ng-model='data.codigo'>
        </label>
        
        <label class="item item-input">
          <input type="text" placeholder="Nome do Produto"  ng-model='data.produto'>
        </label>

        <button class="button button-positive button-block" ng-click='procurar(data)'>
          Procurar
        </button>
      <div class="item item-divider">
        Scanner
      </div>
      <div class="item">
        <button class="button button-positive button-block" ng-click='escanear()'>Ler Código de Barras
    </button>
      </div>


  </ion-content>
</ion-view>
